.card {    
    .card-body {
        color: black;        
    }
    .card-title {
        font-size: 1.2rem;
    }
    .card-img-top {
        height: 21vw;
        object-fit: cover;
    }
    .card-subtitle:nth-last-child(2) {
        i {
            padding-right: 1.2rem;
        }
    }
    a:hover {
        text-decoration: none;
    }
}
